@import url('https://fonts.googleapis.com/css?family=Lato|Righteous');
* { margin: 0; padding: 0; box-sizing: border-box; }
body {
	background-color: #FBFBFB;
	margin: 30px;
	text-align: left;
}

h1, h3 {
	color: #262262;
	font-family: 'Righteous', cursive;
	font-weight: normal;
	text-transform: uppercase;
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: underline;	
}

#slogan {
	font-style: italic;
	font-weight: bold;
}

h3 {
	font-size: 24px;
	font-style: italic;	

}

p {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}

ul {
	font-family: georgia, serif;
	font-weight: normal;
	text-transform: lowercase;
}

a {
	font-style: italic;
	text-decoration: none;
}
#splash {
    background: url(../images/couple.jpg);
    background-size: cover;
    background-position: bottom;
}
#splash div {
    background: rgba(100, 100, 25, .75);
    /* height: 80vh; */
    color: #fff;
    font-size: 4em;
    text-align: center;
    font-family: helvetica;
    padding: 2em 0 2em;
    /* width: 33.33%; */
    /* float: right; */
}

#hand {
	background: url(../images/hand-off-your-tech.jpg);
	background-size: cover;
	background-position: bottom;
}
#hand div {
	background: rgba(100, 100, 25, .25);
	height: 80vh;
	color: #fff;
	font-size: 4em;
	text-align: center;
	font-family: helvetica;
	padding: 4em 0 0;
}
.clearfix:after {
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	content:"";
}
